body {
    font-family:Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

form{
    background: white;
    padding: 25px;
    border-radius: 10px;
}

label{
    display: block;
    margin-top: 15px;
}

input,
select,
textarea{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
}

img{
    max-width: 300px;
    height: auto;
}